# Silicon Labs EFR32MG12P platform configuration options

# Copyright (c) 2018 Diego Sueiro
# SPDX-License-Identifier: Apache-2.0

config GPIO_GECKO
	default y
	depends on GPIO

if SERIAL

config UART_GECKO
	default y

config LEUART_GECKO
	default y

endif # SERIAL

config I2C_GECKO
	default y
	depends on I2C

config SOC_FLASH_GECKO
	default y
	depends on FLASH

config SPI_GECKO
	default y
	depends on SPI

if NETWORKING

if !NET_L2_OPENTHREAD

config NET_L2_IEEE802154
	default y

endif # NET_L2_OPENTHREAD

config IEEE802154_EFR
	default y

config NET_CONFIG_IEEE802154_DEV_NAME
	default IEEE802154_EFR_DRV_NAME

endif # NETWORKING
